<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/image/cv_icon.png">
    <title>Curriculum</title>
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/78005296c2.js" crossorigin="anonymous"></script>

</head>
<body class="index">
    <header class="index_header">
        <nav class="index_header-nav">
            <div class="index_header-nav-icon">
                <i class="fa-solid fa-bars"></i>
            </div>          
            <ul>
                <li><a href=""> Inicio </a></li>
                <li><a href=""> Experiencia</a></li>
                <li><a href=""> Educacion </a></li>
                <li><a href=""> Certificados </a></li>
                <li><a href=""> habilidades </a></li>
            </ul>
        </nav>
        <h1>Camila Guerrero</h1>
        <div class="index_header-icons">
            <a href=""><i class="fa-regular fa-envelope"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
        </div>
       
        <img src="/image/20221125_122042.jpg" alt="">
    </header>
    <main>
        <section>
            <h2>Experiencia laboral</h2>
            <article>
                <h3>profesora</h3>
                <p>
                    descripcion
                </p>
            </article>
        </section>
        <section>
            <h2>Educacion</h2>
            <article>
                <h3>Escuela </h3>
                <p>
                    descripcion
                </p>
            </article>
        </section>
        <section>
            <h2>Certificaciones</h2>
            <article>
                <h3>guayerd</h3>
                <p>
                    descripcion
                </p>
            </article>
            <article>
                <h3>guayerd</h3>
                <p>
                    descripcion
                </p>
            </article>
            <article>
                <h3>Formar</h3>
                <p>
                    descripcion
                </p>
            </article>
        </section>
        <section>
            <h3>Habilidades</h3>
            
                <!-- Swiper 
                <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              -->
        </section>
    </main>
    <footer>
        <article>
            <h3>Contacto por: </h3>
            <p>correo@algo.cam</p>
            <p>tel 12345</p>
            <p>linkedin algo-algo</p>
        </article>     
        <form action="">
            <label for="nombre" value="nombre">Nombre</label>
            <input type="email">
            <label for="email" value="nombre">Email</label>
            <input type="email">
            <label for="menaje" value="mensaje">Mensaje</label>
            <input type="text">
        </form>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/javascripts/carrucel_swiper.js"></script>
</body>
</html>